# Pr√©-processamento copa dataset

In [191]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.metrics import accuracy_score as acc

In [192]:
df_total = pd.read_csv("dataset_rank_fifa.csv")
df_pred = df_total.drop(['country','year','classification'], axis=1)

In [193]:
df_2002 = df_pred.loc[df_total['year'] == 2002]
df_2006 = df_pred.loc[df_total['year'] == 2006]
df_2010 = df_pred.loc[df_total['year'] == 2010]
df_2014 = df_pred.loc[df_total['year'] == 2014]

In [194]:
df_2002 = pd.DataFrame(StandardScaler().fit_transform(df_2002), index=df_2002.index, columns=df_2002.columns)
df_2006 = pd.DataFrame(StandardScaler().fit_transform(df_2006), index=df_2006.index, columns=df_2006.columns)
df_2010 = pd.DataFrame(StandardScaler().fit_transform(df_2010), index=df_2010.index, columns=df_2010.columns)
df_2014 = pd.DataFrame(StandardScaler().fit_transform(df_2014), index=df_2014.index, columns=df_2014.columns)

In [195]:
X = pd.concat([df_2002,df_2006,df_2010,df_2014])

In [196]:
y = df_total['classification']

In [197]:
new_df = X
new_df['classification'] = df_total['classification']
new_df.classification = new_df.classification.astype(int)

In [198]:
new_df.min()

jan              -2.136760
feb              -2.100925
mar              -2.219902
apr              -2.197709
may              -2.240329
classification    0.000000
dtype: float64

In [199]:
new_df.head()

        jan       feb       mar       apr       may  classification
0  0.041544 -0.093359 -0.035170 -0.178550 -0.209645               0
1 -2.136760 -1.435043 -1.410712 -1.358130 -1.302627               0
2 -0.086592 -0.236472 -0.231676 -0.178550 -0.303868               0
3  2.283916  2.393230  2.376494  2.586091  2.522809               0
4  0.970527  0.926321  0.965224  0.835152  0.845647               0

In [200]:
new_df.classification.value_counts()

0    111
4      4
3      4
2      4
1      4
Name: classification, dtype: int64

In [201]:
new_df0 = new_df.loc[new_df['classification'] == 0]

In [202]:
new_df0 = new_df0.sample(95)

In [203]:
new_df = new_df.drop(new_df0.index)
new_df

          jan       feb       mar       apr       may  classification
0    0.041544 -0.093359 -0.035170 -0.178550 -0.209645               0
8    1.979594  2.071226  2.037075  2.162180  2.183608               1
9   -0.102609 -0.254361 -0.320997 -0.362859 -0.266179               3
12  -1.127693 -1.309820 -1.339255 -1.247544 -1.227249               4
14   1.146713  1.123102  1.054545  1.037892  1.090626               0
16   0.602137  0.514871  0.643669  0.503395  0.506446               2
17   0.041544 -0.093359 -0.017306  0.005760  0.110712               0
29  -0.054558 -0.200694 -0.160219 -0.233843 -0.285023               0
30  -0.070575 -0.236472 -0.303133 -0.362859 -0.454624               0
36   0.999414  0.981629  0.926564  0.949574  0.934895               2
39   0.984682  0.966353  0.988301  1.043822  1.045814               0
41   0.778431  0.828866  0.849391  0.933866  0.950740               4
42   0.601644  0.553891  0.587006  0.588290  0.602136               1
45   0.100749  0.065048  0.000498  0.085634  0.095074               3
47   0.012356 -0.011334  0.077670 -0.055738 -0.063383               0
51  -0.297020 -0.347414 -0.261887 -0.244234 -0.205994               0
57  -1.048363 -1.141784 -1.172519 -1.218130 -1.283499               0
62  -1.947027 -1.829221 -1.897937 -1.815034 -1.727178               0
63   2.500457  2.425268  2.418560  2.347213  2.371385               1
65   1.295599  1.332383  1.210221  1.119049  1.168016               2
67   0.897534  0.909663  1.043676  1.219015  1.232868               0
68   0.886872  0.933721  0.841696  0.712041  0.631183               3
70   0.574107  0.517875  0.551127  0.629925  0.609566               0
73   0.200921  0.060787  0.101101  0.151512  0.180821               0
77   0.001888  0.108902 -0.115054 -0.191231 -0.147043               0
80  -0.051424 -0.001074 -0.061901 -0.019859 -0.028148               4
86  -0.357081 -0.458161 -0.348926 -0.309049 -0.309174               0
96   1.638263  1.522995  1.695854  1.726191  1.707498               1
97   1.338899  1.275136  1.260623  1.023761  1.024657               2
103  0.691022  0.716402  0.590709  0.147838  0.135277               3
104  0.673150  0.729005  0.705917  1.023761  1.159539               4
110  0.087826  0.061046  0.070138 -0.258386 -0.269369               0
111 -0.175792 -0.464080 -0.424830 -0.431878 -0.442187               0
119 -0.930904 -0.913587 -0.881396 -0.795788 -0.787822               0
120 -1.002394 -0.934592 -1.052075 -0.918502 -0.926920               0
123 -1.386652 -1.472321 -1.350763 -1.350116 -1.356857               0

In [204]:
new_df = new_df.reset_index(drop=True)

In [205]:
feature_cols = [x for x in new_df.columns if x not in 'classification']

sss = StratifiedShuffleSplit(n_splits=1, test_size=0.2)

train_idx, test_idx = next(sss.split(new_df[feature_cols], new_df['classification']))

In [206]:
X_train = new_df.loc[train_idx, feature_cols]
y_train = new_df.loc[train_idx, 'classification']

X_test = new_df.loc[test_idx, feature_cols]
y_test = new_df.loc[test_idx, 'classification']

In [207]:
y_train

2     3
12    1
0     0
8     0
20    0
35    0
19    2
7     0
23    0
22    0
11    4
15    0
16    0
17    0
24    0
18    1
32    0
9     2
28    2
21    3
25    4
27    1
3     4
33    0
10    0
4     0
29    3
26    0
Name: classification, dtype: int64

In [208]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train,y_train)

y_pred = lr.predict(X_test)

In [212]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(X_train,y_train)

y_pred = svc.predict(X_test)

In [213]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1])

In [214]:
y_test

13    3
5     2
31    0
34    0
14    0
30    4
6     0
1     1
Name: classification, dtype: int64

In [215]:
from sklearn.metrics import f1_score

f1_score(y_pred, y_test, average='micro')

0.625